<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 네임스페이스 interface 인터페이스 네임임 -->
<mapper namespace="com.yedam.app.mybatis.mapper.TestEmpMapper">
    <!-- 구현 클래스 interface 인터페이스 기준으로 xml을 땡겨옴-->
    <select id="empList" resultType="EmpInfo">
        SELECT employee_id
          , last_name
          , hire_date
          , salary
        FROM employees
        ORDER BY employee_id
    </select>
</mapper>